/* artwork */

[data-card-type="profile"] .MuiCardActions-root {
  background: black;
}
[data-card-type="profile"] .MuiCardActions-root:hover {
  background: rgb(0, 0, 0);
}

[data-card-type="delete"].MuiSvgIcon-root {
  color: #B9A1BE;
}

[data-card-type="delete"].MuiSvgIcon-root:hover {
  color: red;
}

[data-card-type="edit"].MuiSvgIcon-root {
  color: #B9A1BE;
}

[data-card-type="edit"].MuiSvgIcon-root:hover {
  color: green;
}
[data-nav-type="focal"].Mui-focused:focus {
  color: orange;
}
[data-type="submit"].MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  background-color: #00007f;
  color: lavender;
  font-weight: 900;
}
[data-type="cancel"].MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
  background-color: #6d0323;
  color: lavender;
  font-weight: 900;
}
[data-type="submit_job"].MuiButtonBase-root.MuiButton-root.MuiButton-contained.makeStyles-margin-44.makeStyles-textField-46.makeStyles-withoutLabel-45 {
  background-color: #00007f;
  color: lavender;
  font-weight: 900;
}
/* .MuiButtonBase-root.MuiButton-root.MuiButton-contained.send_button */
/* [data-type="send_button"].MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  /* border: 2px solid #B9A1BE; */
  /* color: lavender;
  font-weight: 900; */
/* } */ */
/* .MuiButtonBase-root.MuiButton-root.MuiButton-contained.makeStyles-margin-44.makeStyles-textField-46.makeStyles-withoutLabel-45 */
/* [data-type="cancel_job"].MuiButtonBase-root.MuiButton-root.MuiButton-contained.makeStyles-margin-44.makeStyles-textField-46.makeStyles-withoutLabel-45 {
  background: #6d0323 !important;
  color: lavender;
  font-weight: 900;
} */

[data-type="search_placeholder"].MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense::placeholder {
  color: lavender;
  opacity: 1;
}
[data-type="background"].MuiCardContent-root.makeStyles-rootUserInfo-26 {
  /* background-color: #e6e6fa; */
  background-color: #ecebfa;
  /* background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");  */
  /* background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png"); */
  /* transform: scale(1.5); */
}
/* [data-card-type="profile-pic"].MuiCardContent-root {
  color: #503333;
} */
